.square
{
	height: 55px;
	width: 55px;
	cursor: pointer;
	font-size: 34px;
	line-height: 55px;
	float: right;
	background: #fff;
	border: 1px solid #999;
	padding: 0;
}
.squareRow
{
	display: flex;
}
.squares
{
	margin-top: 1em;
}
.board
{
	padding: 2em;
	font-family: "segoe UI", "Calibri";
}